.content {
    margin: 10px;
    h2 {
        margin-bottom: 20px;
    }
    .artists-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}